#scheme-Paradox .material-layout .material-layout__content {

    padding-top: 48px;

}
#scheme-Paradox .post_entry-module {

    margin-bottom: 24px;

}
#scheme-Paradox .mdl-mini-footer {
    margin-top: 48px;
    padding: 20px;
    height: 90px;
}